.special-links {
  background-color: #f5f5e5;
  border-left: 5px solid #d4af37;
  padding: 1em;
  margin-top: 2em;
}
.tool.special a {
  color: #8a4b08;
  font-weight: bold;
}
.tool-category {
  margin-bottom: 2em;
}
.tool {
  margin-bottom: 1em;
}
.tool a {
  display: block;
  font-size: 1.2em;
  color: #0066cc;
  text-decoration: none;
}
.description {
  font-size: 0.9em;
  color: #333;
}
